# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.idea/
target/
*.iml
.DS_Store

!/Ezreal-core/plugin/*
/Ezreal-core/plugin/.DS_Store

!/Ezreal-plugin-netty/plugin/*
/Ezreal-plugin-netty/plugin/.DS_Store



# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
